@import '../../styles/settings.scss';

.favorite {
  padding: $base-size;

  .column {
    width: calc(33% - 12px);
    background: $color-light;
    margin: auto;
    padding: ($base-size * 1.5);
    border-radius: $radius;
    box-shadow: 0 ($base-size/4) 0 rgba(0, 0, 0, 0.3); //musiałem zmienić zamiast mat.div na slash
    color: $color-dark;
  }


  .text {
    margin: 0;
  }

}